body {
    background: #ddcbcb url(Background.JPG) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
  }
.bio, #line3, #line2 {
    text-align: center;
    font-size: 25px;
}
span {
    background-color: rgb(247, 201, 222);
   z-index: 2;
   border-radius: 10px;
   padding: 1px;
   width: 1000px;
   
}
#behindbio{
    
    background-color: rgb(247, 201, 222) ;
    width: 1000px;
    height: 100px;
    border-radius: 10px;
    margin: 20px auto

}
    


* {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
  }
  #button6 {
    background-color: rgb(247, 201, 222);
    border-radius: 6px;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-transform: uppercase;
    width: 200px;
    cursor: pointer;
    margin: 2px auto;
    margin-bottom: 70px;
  }
  #placeholder6 {
    height: 100px;
    width: 100px;
    padding: 25px;
    margin: 2px auto;
    border: 1px solid gray;
    border-radius: 10px;  
    font-size:80px;
    margin-top: 100px;
    background-color: rgba(107, 190, 245, 0.397);

  }
  * {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
  }
  #button20 {
    background-color: rgb(247, 201, 222);
    border-radius: 6px;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-transform: uppercase;
    width: 200px;
    cursor: pointer;
    margin: 2px center;
  }
  #placeholder20 {
    height: 100px;
    width: 100px;
    padding: 25px;
    margin: 2px auto;
    border: 1px solid gray;
    border-radius: 10px;  
    font-size:80px;
    background-color: rgba(107, 190, 245, 0.397);

  }
